<div class="panel-group col-xs-12 text-center">
            <span class="btn-group">
                <a href="/myfarm" class="btn btn-default">My farm</a>
                <a href="/profile" class="btn btn-default">Profile</a>
                <a href="/logout" class="btn btn-default">Logout</a>
            </span>
</div>